.container{
    align-items: center;
}


.table, .table-row, .table-column {
    border: 1px solid black;
   
  }
  
  table {
   width: 25%;
    border-collapse: collapse;
    align-items: center;
  }
